<footer class="footer">
  <div class="footer-logo">
    <%= image_tag('infini-logo-black.png')%>
  </div>
    <ul>
      <li>Why rent?</li>
      <li>Our brands</li>
      <li>Sustainability</li>
      <li>FAQ</li>
    </ul>
  <div>
    <ul>
      <li>Our boxes</li>
      <li>New arrivals</li>
      <li>How it works</li>
      <li>How we curate our boxes</li>
    </ul>
  </div>
  <div>
    <ul>
      <li>Impressum</li>
      <li>Community</li>
      <li>Reviews</li>
      <li>Legal</li>
    </ul>
  </div>

  <%
    available_locales = current_store.available_locales.map do |locale|
      [
        I18n.t('spree.i18n.this_file_language',
        locale: locale,
        default: locale.to_s,
        fallback: false), locale
      ]
    end.sort
  %>

  <% if available_locales.many? %>
    <div class="locale-selector">
      <%= form_tag select_locale_path do %>
        <div class="locale-selector__select-input select-input">
          <%= label_tag :switch_to_locale, "#{t('spree.i18n.language')}:" %>
          <%= select_tag(:switch_to_locale, options_for_select(available_locales, I18n.locale)) %>
        </div>
      <% end %>
    </div>
  <% end %>
</footer>

<div class="logos">
    <%= image_tag('eu-sozialfonds.jpg') %>
    <%= image_tag('sen_web_vertikal_rgb_.jpg') %>
    <%= image_tag('soulincubator-logos_2019-schwarz-02.png') %>
    <%= image_tag('200525_esf-berlin_final.jpg') %>
  </div>
